################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

DotNet/AGMU/.vs
DotNet/AGMU.WindowsForms/bin
DotNet/AGMU.WindowsForms/obj

DotNet/AGMU.WebApi/bin
DotNet/AGMU.WebApi/obj
