################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

DotNet/AGMU/.vs
DotNet/AGMU/.vs/AGMU/v17/.suo
DotNet/AGMU.WindowsForms/bin
DotNet/AGMU.WindowsForms/obj

