<!-- student-data.component.html -->

<h4>Student Data</h4>

<div *ngIf="studentData$ | async as studentData">
  <table mat-table [dataSource]="studentData">
    <ng-container [matColumnDef]="props.ID">
      <th mat-header-cell *matHeaderCellDef>{{ props.ID }}</th>
      <td mat-cell *matCellDef="let element">{{ element[props.ID] }}</td>
    </ng-container>
    <ng-container [matColumnDef]="props.PROGRAM_ID">
      <th mat-header-cell *matHeaderCellDef>Academic Program</th>
      <td mat-cell *matCellDef="let element">{{ element[props.ACADEMIC_PROGRAM][props.NAME] }}</td>
    </ng-container>
    <ng-container [matColumnDef]="props.NAME">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element[props.NAME] }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="editStudent(element)" color="primary">Edit</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          type="button"
          (click)="editStudent(element)"
          mat-raised-button
          color="primary"
        >
          Edit
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<div class="buttonRow">
  <button mat-raised-button type="button" color="primary" (click)="addNewStudent()">Add New Student</button>
</div>
